<!-- <router-outlet></router-outlet> -->

<nav class="navbar navbar-light row m-3 ">
    <div class="container-fluid col-10 pb-2 border-bottom">
        <a class="navbar-brand" href="app.component.html">
            <i class="fab fa-bootstrap"></i> Online-Store
        </a>
        <ul class="nav justify-content-end ">
            <li class="nav-item">
                <a class="nav-link" [ngStyle]="{color: 'black'}" href="#">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngStyle]="{color: 'black'}" href="#">Sale</a>
            </li>
            <li class="nav-item ">
                <button class="btn btn-warning" (click)="showShoppingCart=!showShoppingCart">Giỏ hàng</button>
            </li>
        </ul>
    </div>
</nav>

<main>
    <div class="container mt-3">
        <div class="row" style="text-align: center;" *ngIf="!showShoppingCart">
            <div class="align-center col-md-3" *ngFor="let item of products">
                <img [src]="item.image" class="card-img-top m-1" width="100px" height="250px" [alt]="item.productName" />
                <div class="card-body">
                    <span class="card-title h5">{{item.productName}}</span>
                    <small class="error" [innerText]="item.quantity==0?' Sold out':''" [ngStyle]="{color: 'red'}"></small>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngIf="item.promotionPrice<=0">
                        <br>
                    </li>
                    <li class="list-group-item">
                        <span class="me-2" [ngClass]="item.promotionPrice>0 ?'text-decoration-line-through':''">Giá: {{item.price}} VNĐ</span>
                    </li>
                    <li class="list-group-item" *ngIf="item.promotionPrice>0">
                        <span [ngStyle]="{color: 'red'}">Giá đã giảm: {{item.price * (100-item.promotionPrice)/100}} VNĐ</span>
                    </li>
                </ul>

                <div class="card-body">
                    <button type="button" class="btn btn-outline-primary btn-sm w-100" (click)="addToCart(item);dec(item)">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
    <app-cart [productAdded]="productAdded" *ngIf="showShoppingCart"></app-cart>
</main>