<div class="container mt-3" *ngIf="showMessForm">
    <div>
        <div [ngStyle]="{color: 'white'}" class="card-header p-3 bg-success">
            Đơn hàng của bạn đang chờ được xác nhận, chúng tôi sẽ liên hệ sau
        </div>
        <div class="card-body">
            <p><b>Họ và tên: </b> {{checkoutForm.value.name}}</p>
            <p><b>Số điện thoại: </b> {{checkoutForm.value.phone}}</p>
            <p><b>Địa chỉ: </b> {{checkoutForm.value.address}}</p>
            <table class="table table-hover table-bordered">
                <thead class="fa-align-center">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Promotion</th>
                        <th>Image</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of products;let i=index">
                        <td>{{i+1}}</td>
                        <td>{{item.productName}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.promotionPrice}}</td>
                        <td><img [src]="item.image" alt="" width="40px" height="50px"></td>
                        <td>{{item.quantity}}</td>
                        <td>{{(100-item.promotionPrice)*item.price*item.quantity/100}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th [colSpan]=8>Thành tiền: {{totalCounts(products)}}</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div class="container mt-3" *ngIf="!showMessForm">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Tên sản phẩm</th>
                <th>Đơn giá</th>
                <th>Giảm giá</th>
                <th>Hình ảnh</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of products;let i=index">
                <td>{{i+1}}</td>
                <td>{{item.productName}}</td>
                <td>{{item.price}}</td>
                <td>{{item.promotionPrice}}</td>
                <td><img [src]="item.image" alt="" width="50px" height="50px"></td>
                <td><input type="number" [value]="item.quantity" #quantity (input)="updateQuantity(item.id,quantity.value)"></td>
                <td>{{(100-item.promotionPrice)*item.price*item.quantity/100}}</td>
                <td><button class="btn btn-sm btn-danger" type="button" (click)="deleteProduct(item)">Xóa</button></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td [colSpan]=8>Thành tiền : {{totalCounts(products)}} VNĐ</td>
            </tr>
        </tfoot>
    </table>
    <button class="btn btn-sm btn-success" type="button" [disabled]="products.length==0?true:false" (click)="showCartForm=!showCartForm">Mua hàng</button>
</div>

<div class="container mt-4" *ngIf="showCartForm&&!showMessForm">
    <div class="card">
        <div class="card-header">Thông tin khách hàng</div>
        <div class="card-body">
            <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="name" class="form-label">Họ tên</label>
                    <input type="text" class="form-control" formControlName="name" id="name" required>
                    <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="alert alert-danger">
                        <div *ngIf="name?.errors?.required">
                            Name is required.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Điện thoại</label>
                    <input type="number" class="form-control" formControlName="phone" id="phone" required>
                    <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)" class="alert alert-danger">
                        <div *ngIf="phone?.errors?.required">
                            Phone is required.
                        </div>
                    </div>

                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Địa chỉ</label>
                    <textarea class="form-control" formControlName="address" id="address" required></textarea>
                    <div *ngIf="address?.invalid && (address?.dirty || address?.touched)" class="alert alert-danger">
                        <div *ngIf="address?.errors?.required">
                            Address is required.
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="checkoutForm.valid?false:true" (click)="showMessForm=!showMessForm;onSubmit()">Submit</button>
            </form>
        </div>
    </div>
</div>